h1.unreadHeader {
  display: flex;
  justify-content: center;
}

.unreadBooksList {
  display: flex;
  height: 700px;
  width: 700px;
  margin: auto 75px 100px 75px;
  justify-content: space-between;
  flex-wrap: wrap;
}

.book {
  margin: 25px;
  justify-content: center;
}

.title {
  margin: 0px;
}

.author {
  margin: 0px;
}

.genre {
  margin: 0px;
}

.notes {
  margin: 0px;
}
