.delete-btn {
  margin: 7px auto auto 7px;
  height: 30px;
  width: 30px;
  color: red;
  border: 1.5px solid black;
  border-radius: 5px;
  font-weight: bolder;
  text-align: center;
}

.delete-btn:hover {
  background-color: red;
  color: black;
  cursor: pointer;
}

.finished-btn {
  padding: 0;
  border: none;
  border: 1.5px solid black;
  height: 30px;
  width: 30px;
  border-radius: 5px;
  font-weight: bolder;
  text-align: center;
}

.finishedBtnDiv {
  display: flex;
  justify-content: center;
  margin-top: 10px;
}

.finished-btn:hover {
  border: 1.5px solid black;
  cursor: pointer;
  background-color: #00d800;
}

h1.unreadHeader {
  display: flex;
  justify-content: center;
}

.unreadBooksList {
  display: flex;
  margin: auto 75px 100px 75px;
  justify-content: space-between;
  flex-wrap: wrap;
}

.book {
  margin: 25px;
  justify-content: center;
  border: 1.5px solid lightblue;
  background-color: #6bc0f9b0;
  height: 450px;
  width: 400px;
}

.title {
  margin: 0px;
  text-align: center;
  text-decoration: underline;
  padding: 10px;
}

.author {
  margin: 0px;
  text-align: center;
  padding: 3px;
}

.genre {
  margin: 0px;
  text-align: center;
  padding: 1.5px;
}

.notes {
  margin: 0px;
  padding: 15px;
  text-align: center;
}

.notesText {
  display: flex;
  justify-content: center;
  margin-top: 25px;
}

.update-btn {
text-align: center;
font-weight: 500;
}

.update-btn:hover {
  cursor: pointer;
  background-color: #eaea00;
  opacity: 90%;
  border: .5px solid black;
font-weight: 600;
}

/* ----------------------Mobile--------------------------------- */
@media (max-width: 915px) {
  .delete-btn {
    margin: 7px auto auto 7px;
    height: 30px;
    width: 30px;
    color: red;
    border: 1.5px solid black;
    border-radius: 5px;
    font-weight: bolder;
    text-align: center;
  }
  
  .delete-btn:hover {
    background-color: red;
    color: black;
    cursor: pointer;
  }
  
  .finished-btn {
    padding: 0;
    border: none;
    border: 1.5px solid black;
    height: 30px;
    width: 30px;
    border-radius: 5px;
    font-weight: bolder;
    text-align: center;
  }
  
  .finishedBtnDiv {
    display: flex;
    justify-content: center;
    margin-top: 10px;
  }
  
  .finished-btn:hover {
    border: 1.5px solid black;
    cursor: pointer;
    background-color: #00d800;
  }
  
  h1.unreadHeader {
    display: flex;
    justify-content: center;
  }
  
  .unreadBooksList {
    display: flex;
    margin: auto 75px 100px 75px;
    justify-content: space-between;
    flex-wrap: wrap;
  }
  
  .book {
    margin: 25px;
    justify-content: center;
    border: 1.5px solid lightblue;
    background-color: #6bc0f9b0;
    height: auto;
    width: 400px;
  }
  
  .title {
    margin: 0px;
    text-align: center;
    text-decoration: underline;
    padding: 10px;
  }
  
  .author {
    margin: 0px;
    text-align: center;
    padding: 3px;
  }
  
  .genre {
    margin: 0px;
    text-align: center;
    padding: 1.5px;
  }
  
  .notes {
    margin: 0px;
    padding: 15px;
    text-align: center;
  }
  
  .notesText {
    display: flex;
    justify-content: center;
    margin-top: 25px;
  }
  
  .update-btn {
  text-align: center;
  font-weight: 500;
  }
  
  .update-btn:hover {
    cursor: pointer;
    background-color: #eaea00;
    opacity: 90%;
    border: .5px solid black;
  font-weight: 600;
  }

}